.b1{
    color: #ffffff;
    background-color: #4f8cff;
    padding: 10px;
    border: 1px solid #4f8cff;
    border-radius: 10px;
    width: 5rem;
    
}

.b2{
    color: blue;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 5rem;
    border: 2px solid blue;
}

.b3{
    color: rgb(255, 255, 255);
    background-color: #ff5151;
    padding: 10px;
    border-radius: 10px;
    width: 5rem;
    border: 2px solid #ff5151;
}

body{
    font-family: Georgia, "Times New Roman", serif;
      background-color: #00162c;
       color: #1a1a2e;
       margin: 0;
       padding: 0;
}


label{
    display: block;
    font-size: 0.900rem;
    font-weight: 600;
    color:#cacaca;
    margin-top: 16px;
    padding-top: 5px;
    margin-bottom: 4px;
    font-family: Arial, sans-serif;
    width: 25rem;
    margin-left: 30px;
}

input{
    background-color: #00162c;
    color: gray;
    border-radius: 10px;
    border: 1px solid gray;
    width: 25rem;
    margin-left: 30px;
    padding-top: 5px;
}

select{
    background-color: #00162c;
    color: gray;
    border-radius: 10px;
    border: 1px solid gray;
    width: 25rem;
    margin-left: 30px;
    padding: 5px;
}

textarea{
    background-color: #00162c;
    color: gray;
    border-radius: 10px;
    border: 1px solid gray;
    width: 25rem;
    margin-left: 30px;
    padding: 5px;
}

fieldset{
    border: none;
    margin-left: 30px;
    padding: 5px;
}

legend{
    color:#cacaca ;
    font-family: Arial, sans-serif;
    font-size: 0.900rem;
    font-weight: 600;
    padding-top: 30px;
}

button{
    margin-left: 30px;
}